/* Krakden Base Classes for CSS */
body {
	margin: 0;
	padding: 0;
	font-size: 14pt;
	font-family: sans-serif;

	background-image: url('grafx/2x1graybg.png');
	background-repeat: repeat;
/*
	background-attachment: fixed;
	This would be cool, except that it's a major performance hit.
	I want this to be as netbook-friendly as possible.
*/
}

.inlineblock {
	display: inline-block;
	vertical-align: top;
	padding: 1em;
}

a {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}

.checkerback,#div_header,#div_bottombox {
	background-image: url('grafx/4x4bbcb.png');
	background-repeat: repeat;
}


#div_pagewrapper {
	position:relative;
	width: 981px;
	margin: 0 auto;
	margin-bottom: 2em;
	padding: 0;
	padding-bottom: 1.5em;
	border: 1px solid gray;
	border-top: none;
	box-shadow: 4px 4px 3px #e0e0e0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow: hidden;
	background-color: white;
}


#div_contentwrapper {
	min-height: 350px;
}


#div_header {
	background-color: #9090e0;
	padding: 1em;
}
#div_header h1 {
	text-shadow: 2px 2px #000000;
	padding: 0;
	margin: 0;
	color: #ffffff;
}
#div_header h1 a {
	color: #ffffff;
}
#div_header h2 {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-style: oblique;
}
#div_header h2 a {
	color: black;
	text-decoration: underline;
}
#div_header h2 a:hover {
	color: red;
}


#div_bottombox {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #9090e0;
	padding: 1em;
	font-size: 10px;
	font-family: sans-serif;
}
