/* Krakden Front Page */
#div_joinuspls {
	max-width: 50%;
}
#div_joinuspls ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#div_joinuspls ul li:before {
	padding-right: 0.2em;
	content: '→';
}
#div_joinuspls ul li {
	padding: 0.5em 0;
}


#div_loginarea { 
}

#userwrapper {
	padding: 1em;
}
#usertools {
	float: right;
	padding: 1em;
	border-left: solid 1px black;
}
