/* Krakden Front Page */
#div_header {
	background-color: #9090e0;
	padding: 1em;
}
#div_header h1 {
	text-shadow: 2px 2px #000000;
	padding: 0;
	margin: 0;
	color: #ffffff;
}
#div_header h2 {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-style: oblique;
}


#div_joinuspls {
}


#div_loginarea { 
}
#div_loginarea form label {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 10px;
}


#div_bottombox {
	background-color: #9090e0;
	padding: 1em;
	font-size: 10px;
	font-family: sans-serif;
}
